

/* START SEITE */

.modul-kachel{
    background-color:var(--akzentfarbe);
    width: 80%;
    height: 150px;
    border-radius: 30px;
}

.modul-kachel:hover{
    background-color:var(--sekundaerfarbe);
}

.modul-kachel-text{
    justify-content: center;
    color: var(--white);
}