<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="my-4">
          <h1>Willkommen bei Quizmunity</h1>
          <h3>Deine Plattform für interaktives Lernen!</h3>
          </div>
          <p>Entdecke und vertiefe dein Wissen in einer Vielzahl von Fachbereichen.
            Wähle aus Kategorien wie Wirtschaftsinformatik, Architektur, Medizin
            und  vielen mehr, und teste deine Fähigkeiten mit unseren maßgeschneiderten  Quizzen.</p>
          <h3 class="my-4">Wähle deinen Fachbereich und entdecke dein Quiz.</h3>
          <hr>
        </div>
      </div>


      <div class="row ">
        <div *ngFor="let entity of entities" class="col-md-4 d-flex justify-content-center">
          <div class="modul-kachel d-flex align-items-center justify-content-center my-3">
            <a (click)="RouteToQuiz(entity.id)"><h4 class="modul-kachel-text align-self-center">{{entity.title}}</h4></a>
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
