
/* General */

.container{
    font-family: 'Montserrat';
}

h1{
    color: rgb(29, 29, 29);
}


h2{
    color: rgb(29, 29, 29);
}


h3{
    color: rgb(29, 29, 29);
}

h4{
    color: rgb(29, 29, 29);
}

p{
    color: rgb(29, 29, 29);
}

a{
    text-decoration: none;
}

/* Styles for the courses component */

.container {
    --akzentfarbe: #206C9D;
    --sekundaerfarbe: #34A7C5;
    --white: #fff;
  }



/* START SEITE */

.modul-kachel{
    background-image: linear-gradient(to top right, rgb(30,66,95), rgb(117,168,240));
    /*background-color:var(--akzentfarbe);*/
    width: 80%;
    height: 150px;
    border-radius: 30px;
}

.modul-kachel:hover{
    background-color:var(--sekundaerfarbe);
}

.modul-kachel-text{
    justify-content: center;
    color: var(--white);
}

.input-icon i {
  position: absolute;
}

.input-icon {
  width: 30%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  border-radius: 10px;
  border: 1px gray solid;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}
