
/* General */

.container{
    font-family: 'Montserrat';
}

h1{
    color: rgb(29, 29, 29);
}


h2{
    color: rgb(29, 29, 29);
}


h3{
    color: rgb(29, 29, 29);
}

h4{
    color: rgb(29, 29, 29);
}

p{
    color: rgb(29, 29, 29);
}

a{
    text-decoration: none;
}

/* Styles for the courses component */

.container {
    --akzentfarbe: #206C9D;
    --sekundaerfarbe: #34A7C5;
    --white: #fff;
  }



/* START SEITE */

.modul-kachel
{
    background-image: linear-gradient(to top right, rgb(30,66,95), rgb(117,168,240));
    width: 80%;
    height: 5rem;
    border-radius: 30px;
    margin: auto;
}

.modul-kachel a
{
  color:#ffffff;
  font-size: 1.5rem;
}

.block--content
{
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  align-items: center;
}

mat-icon{
  width: 30px;
  height: 100%;
  font-size: 2rem;
  margin-right: 20px;
}
