<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="maincontainer">

         
         
                                <div class="flex-container">
                                        
                                    <!-- Sidebar mit Schließ-Button -->
                                    <div class="sidebar">
                                        <!-- Schließ-Button -->
                                        <button class="btn-close-custom" aria-label="Close" onclick="toggleSidebar()">
                                            <i class="bi bi-x"></i>
                                        </button>
                                        <div class="Master-Logo">
                                            <!-- Logo -->
                                            <a class="navbar-brand text-center" href="#">
                                                <img src="/assets/images/QuizMaster_Logo.png" alt="Logo" width="120">
                                            </a>
                                        </div>
                                        <!-- Navigationselemente -->
                                        <ul class="nav nav-pills flex-column mb-auto w-100">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link-sidebar">
                                                    <i class="bi bi-gear-fill"></i> Grundeinstellungen
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link-sidebar active">
                                                    <i class="bi bi-question-square-fill"></i> Fragen-Manager
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="btn-activate-quiz">
                                                    <i class="bi bi-x-circle-fill"></i> Quiz deaktivieren
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Hauptinhalt -->
                                    <div class="content">
                                        <!-- Hamburger-Icon für die mobile Ansicht -->
                                        <div>
                                            <div class="menu-icon-sidebar" onclick="toggleSidebar()">
                                                <i class="bi bi-chevron-double-right"></i>
                                            </div>
                                        </div>
                                    
                                        <div class="Inhaltsbereich">
                                        
                                                <!-- Hauptinhalt hier einfügen!!!! -->
                                                        <!-- das hier muss dynamisch nachladen -->
                                <h2>Fragenmanager</h2>
                                <h3>SQL und Abfragen</h3>
                                <h3>Frage 1</h3>



                                <textarea class="form-control my-3" rows="3" placeholder="Hier die Frage eingeben"></textarea>



                            <!-- Antwortbereich -->
                            <div class="antworten-section">
                                <h3>Antworten</h3>
                                <p>Nachdem du mögliche Antworten angegeben hast, wähle die richtige aus.</p>




                                <div id="answer-container-area">

                                
                                <!-- Antwort Container -->
                                <div class="antwort-container">
                                    <input type="checkbox" class="checkbox-button" name="correct-answer">
                                    <div class="answer-text richtext-editor">
                                        <!-- Hier könnte Ihr Rich-Text-Editor eingebunden werden -->
                                        <textarea class="form-control antwort-eingabe" placeholder="Hier eine Antwortmöglichkeit eingeben"></textarea>
                                    </div>
                                    <i class="bi bi-trash"></i>
                                </div>

                                <!-- Antwort Container -->
                                <div class="antwort-container">
                                    <input type="checkbox" class="checkbox-button" name="correct-answer">
                                    <div class="answer-text richtext-editor">
                                        <!-- Hier könnte Ihr Rich-Text-Editor eingebunden werden -->
                                        <textarea class="form-control antwort-eingabe" placeholder="Hier eine Antwortmöglichkeit eingeben"></textarea>
                                    </div>
                                    <i class="bi bi-trash"></i>
                                </div>

                            </div>
                            </div>


                                <!-- Button, um eine weitere Antwort hinzuzufügen -->
                                <div class="btn-antwort-hinzufuegen">
                                    <button id="add-answer-btn" class="btn btn-primary quizmunity-button">Antwort hinzufügen</button>
                                </div>



                            <!-- Buttons für Speicheraktionen -->
                            <div class="save-action-buttons">
                                <button class="btn btn-success quizmunity-button-inverted">Speichern</button>

                                <button class="btn btn-outline-primary quizmunity-button-inverted">Zurück</button>
                            </div>








                                        
                                        
                                    </div>
                                </div>
                            </div>






</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Funktion, um auf Klick-Event für jede Antwort zu reagieren
    function answerClicked(event) {
        // Füge die ausgewählte Klasse zum geklickten Element hinzu oder entferne sie, wenn sie bereits ausgewählt war
        event.currentTarget.classList.toggle('answer-selected');
    }

    // Event-Listener für alle Antwort-Elemente
    document.querySelectorAll('.answer').forEach(function(answer) {
        answer.addEventListener('click', answerClicked);
    });
</script>



<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
