<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="maincontainer">

  <div class="flex-container">

    <h2>Fragenmanager</h2>
    <textarea class="form-control my-3" rows="3" [(ngModel)]="createOrUpdateRequestDto.content" placeholder="Hier die Frage eingeben"></textarea>

    <!-- Antwortbereich -->
    <div class="antworten-section">
      <h3>Antworten</h3>
      <p>Nachdem du mögliche Antworten angegeben hast, wähle die richtige aus.</p>
      <div id="answer-container-area" *ngFor="let option of createOrUpdateRequestDto.options; let index = i;">

      <!-- Antwort Container -->
        <div class="antwort-container">
            <input type="checkbox" class="checkbox-button" [(ngModel)]="option.isCorrect" name="correct-answer" (click)="doChange(option)">
            <div class="answer-text richtext-editor">
                <!-- Hier könnte Ihr Rich-Text-Editor eingebunden werden -->
                <textarea class="form-control antwort-eingabe" [(ngModel)]="option.text" placeholder="Hier eine Antwortmöglichkeit eingeben"></textarea>
            </div>
            <i class="bi bi-trash"></i>
        </div>

      </div>
    </div>
   

    <!-- Buttons für Speicheraktionen -->
    <div class="save-action-buttons">
      <button class="btn btn-success quizmunity-button-inverted" (click)="SaveQuestionAndAnswerChanges()">Speichern</button>

      <button class="btn btn-outline-primary quizmunity-button-inverted" (click)="RouteBackToQuestions()">Zurück</button>
    </div>

  </div>
</div>

<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
