<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


<div class="container">
  

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 text-center">
            <h1>Datenmodellierung & Datenbanksysteme</h1>
            <br>
            <p>Tauche ein in die Welt der digitalen Technologien und Geschäftsprozesse!  
                In dieser Kategorie erwarten dich Quizze, die dein Verständnis für  IT-Systeme, Softwareentwicklung und E-Business herausfordern. </p>
            <h2>Jetzt Quiz wählen:</h2>
        </div>
    </div>


          <!-- Quiz Buttons -->
          <div class="row col-12">
            <div class="d-grid gap-2 mb-2">
                <a href="#" class="btn btn-primary btn-block">SQL und Abfragen</a>
            </div>
            <div class="d-grid gap-2 mb-2">
                <a href="#" class="btn btn-primary btn-block">Datenmodellierung</a>
            </div>
            <div class="d-grid gap-2 mb-2">
                <a href="#" class="btn btn-primary btn-block">Trends und Technologien</a>
            </div>
            <div class="d-grid gap-2 mb-2">
                <a href="#" class="btn btn-primary btn-block">Sicherheit</a>
            </div>
        </div>






    </div>
  </div>




<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
