
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ISEF01QuizSystem-primary: mat.define-palette(mat.$indigo-palette);
$ISEF01QuizSystem-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ISEF01QuizSystem-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ISEF01QuizSystem-theme: mat.define-light-theme((
  color: (
    primary: $ISEF01QuizSystem-primary,
    accent: $ISEF01QuizSystem-accent,
    warn: $ISEF01QuizSystem-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ISEF01QuizSystem-theme);

/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root  {
  --lpx-logo: url('/assets/images/logo/logo-light.png');
  --lpx-logo-icon: url('/assets/images/logo/logo-light-thumbnail.png');
  --quizmunity-darkgrey: #383838;
  --quizmunity-lightgreay: #dee2e6;
  --quizmunity-blue1: #249ABA;
  --quizmunity-blue2: #206C9D;
  --quizmunity-red: #e62549;
  --quizmunity-green: #bed263;
  --quizmunity-sidebar: #5F5F5F;
  --quizmunity-white: #fff;
}







/* Typography */

h1 {
font-size: 35px !important;
color:  var(--quizmunity-darkgrey)!important;
}

h2{
font-size: 25px !important;
color:  var(--quizmunity-darkgrey)!important;
}

h3{
font-size: 18px !important;
color:  var(--quizmunity-darkgrey)!important;
}

h4{
  font-size: 18px !important;
  }

p{
font-size: 14px !important;
color:  var(--quizmunity-darkgrey)!important;
}


.white-text{
  color: var(--quizmunity-white) !important;
}

/* Buttons */


.quizmunity-button, .ergebnis-button {
border-radius: 10px !important;
padding: 10px 15px !important;
border: solid 3px var(--quizmunity-blue2) !important;
background-color: var(--quizmunity-blue2) !important;
color:var(--quizmunity-white) !important;
font-weight: 400 !important;
font-size: 14px !important;
}

.quizmunity-button:hover, .ergebnis-button:hover{
  border-radius: 10px !important;
  padding: 10px 15px !important;
  border: solid 3px var(--quizmunity-blue2) !important;
  background-color: var(--quizmunity-white) !important;
  color:var(--quizmunity-blue2) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  }

.quizmunity-button-inverted{
  border-radius: 10px !important;
  padding: 10px 15px !important;
  border: solid 3px var(--quizmunity-blue2) !important;
  background-color: var(--quizmunity-white) !important;
  color:var(--quizmunity-blue2) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.quizmunity-button-inverted:hover{
  border-radius: 10px !important;
  padding: 10px 15px !important;
  border: solid 3px var(--quizmunity-blue2) !important;
  background-color: var(--quizmunity-blue2) !important;
  color:var(--quizmunity-white) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.quizmunity-button-inverted-2{
  border-radius: 10px !important;
  padding: 10px 15px !important;
  border: solid 3px var(--quizmunity-white) !important;
  background-color: var(--quizmunity-white) !important;
  color:var(--quizmunity-blue2) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.quizmunity-button-inverted-2:hover{
  border-radius: 10px !important;
  padding: 10px 15px !important;
  border: solid 3px var(--quizmunity-blue2) !important;
  background-color: var(--quizmunity-blue2) !important;
  color:var(--quizmunity-white) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}





/* Layout */

.card {
  background-color: var(--quizmunity-white) !important;
}

#main-navbar .nav-link{
  color: var(--quizmunity-darkgrey) !important;
}

.navbar-toggler, .navbar-toggler-icon{
  background-color: var(--quizmunity-blue1) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 
  background-color: var(--quizmunity-blue2) !important;
}

.nav-pills .nav-link {
  color: var(--quizmunity-blue2) ;
}

.abp-md-form .btn{
  background-color: var(--quizmunity-blue2) !important;
  border-color: var(--quizmunity-blue2) !important;
}


/* Menu */

#main-navbar{
  background-color: white !important;
}


/* Further Stylings */



#question-container{
  margin-top: 60px !important;
}

#question-container .mat-mdc-card {

    border: 2px var(--quizmunity-blue2) solid;
    box-shadow: none;
    border-radius: 10px;
}


.kommentar-hinzufügen .mdc-line-ripple{
  display: none !important;
}

.kommentar-hinzufügen{
  margin-bottom: 0px !important;
}

.kommentar-hinzufügen .mat-mdc-text-field-wrapper{
 border-radius: 10px !important;
}


.quizhub-search .mdc-line-ripple{
  display: none !important;
}


.quizhub-search .mat-mdc-text-field-wrapper{
 border-radius: 10px !important;
}


.scoreboard-filter .form-row{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 0px !important;
}

.kommentar-hinzuügen-input{
  border-bottom: 0px !important;
  border-radius: 10px !important;
}

.scoreboard-filter .form-control, .scoreboard-filter .input-group-prepend, .scoreboard-filter .input-group-text{
  margin-right: 5px !important;
  border-radius: 10px !important;
}

.filter-form{
margin: 0px !important;
}

.scoreboard-filter .input-group-append{
  display: none !important;
}

.progress-bar{
  background-color: var(--quizmunity-blue2) !important;
}


.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-blend-mode: overlay,overlay,overlay,normal;
}

.lpx-content {
  background-color: var(--quizmunity-blue1);
}

.lpx-topbar-container {
  background: transparent;
}

.card
{
  background-color: #ffffff; /*Obligatory fallback color, if the browser doesn't support rgba*/
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 0px !important;
}

.modul-kachel{
  background-image: none !important;
  background-color: var(--quizmunity-blue2) !important;
}

.modul-kachel a {
  font-size: 18px !important;
}


.login--div{
  background-color: var(--quizmunity-white) !important;
  border-radius: 10px !important;
}



.login--div .q-color-dark{
  color:  var(--quizmunity-darkgrey)!important;
}



.generic-table
{
  font-family: var(--bs-body-font-family) !important;
  flex: 1;
  width: 100%;
  overflow: auto;
  display: table;

  &-container
  {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    margin: 10px;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #0000002b;
  }

  &-inner-container
  {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  & tr
  {
    cursor: pointer;

    &.mat-mdc-header-row
    {
      height: auto;
    }
  }

  & th
  {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 10px !important;
  }

  & td
  {
    letter-spacing: 1px;
    font-weight: 100;
    padding: 2px 10px !important;
    white-space: nowrap;
    max-width: 30vw;
    overflow: hidden;
    user-select: none;

    &.mat-mdc-table-sticky
    {
      box-shadow: 5px 0px 10px -5px #0000000f, -5px 0px 10px -5px #0000000f;
    }

    .table-data-value
    {
      display: flex;
      align-items: center;
      position: relative;

      & span
      {
        display: flex;
        align-items: center;
      }

      &_copy-button
      {
        display: none;
        position: absolute;
        right: 0;
        font-size: 2vmin;
        backdrop-filter: blur(5px);
        padding: 3px;
        border-radius: 5px;
        border: 1px dotted gray;

        &:active
        {
          transform: scale(1.3);
        }
      }

      &:hover
      {
        .table-data-value_copy-button
        {
          display: block;
        }
      }
    }
  }
}

abp-logo
{
  width: 10%;
}

.bg-light
{
  background-color: #249ABA !important;
  height: 100vh;
}


.quizauswahl .mat-mdc-text-field-wrapper {
  border-radius: 10px !important;
  margin: 10px !important;
}

.quizauswahl .mdc-line-ripple::before {
  border-bottom-color: rgb(0 0 0 / 0%) !important;
}

.fragenedit-container{
  padding-bottom: 50px !important;
}


.fragenedit-container .checkbox-button{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fragenedit-container .checkbox-button:checked::after{
  top: unset!important;
  left: unset !important;
}

