
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ISEF01QuizSystem-primary: mat.define-palette(mat.$indigo-palette);
$ISEF01QuizSystem-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ISEF01QuizSystem-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ISEF01QuizSystem-theme: mat.define-light-theme((
  color: (
    primary: $ISEF01QuizSystem-primary,
    accent: $ISEF01QuizSystem-accent,
    warn: $ISEF01QuizSystem-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ISEF01QuizSystem-theme);

/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root  {
  --lpx-logo: url('/assets/images/logo/logo-light.png');
  --lpx-logo-icon: url('/assets/images/logo/logo-light-thumbnail.png');
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-blend-mode: overlay,overlay,overlay,normal;
}

.lpx-content {
  background-image: url("/assets/images/logo/logo-background.jpeg") !important;
  background-size: cover;
  height: 100vh;
}

.lpx-topbar-container {
  background: transparent;
}

.card
{
  background-color: #ffffff; /*Obligatory fallback color, if the browser doesn't support rgba*/
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.generic-table
{
  font-family: var(--bs-body-font-family) !important;
  flex: 1;
  width: 100%;
  overflow: auto;
  display: table;

  &-container
  {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    margin: 10px;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #0000002b;
  }

  &-inner-container
  {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  & tr
  {
    cursor: pointer;

    &.mat-mdc-header-row
    {
      height: auto;
    }
  }

  & th
  {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 10px !important;
  }

  & td
  {
    letter-spacing: 1px;
    font-weight: 100;
    padding: 2px 10px !important;
    white-space: nowrap;
    max-width: 30vw;
    overflow: hidden;
    user-select: none;

    &.mat-mdc-table-sticky
    {
      box-shadow: 5px 0px 10px -5px #0000000f, -5px 0px 10px -5px #0000000f;
    }

    .table-data-value
    {
      display: flex;
      align-items: center;
      position: relative;

      & span
      {
        display: flex;
        align-items: center;
      }

      &_copy-button
      {
        display: none;
        position: absolute;
        right: 0;
        font-size: 2vmin;
        backdrop-filter: blur(5px);
        padding: 3px;
        border-radius: 5px;
        border: 1px dotted gray;

        &:active
        {
          transform: scale(1.3);
        }
      }

      &:hover
      {
        .table-data-value_copy-button
        {
          display: block;
        }
      }
    }
  }
}
