<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="maincontainer">

  <div class="container-fluid">
    <div class="white-container">
      <!-- Hauptinhalt -->
      <div class="content">

      <div class="Inhalt">
      <!-- Hauptinhalt hier einfügen!!!! -->
        <!-- Form Heading -->
      <div>
      <h2>Dein Ergebnis</h2>

  <table class="table table-sm  ergebnistabelle">
    <tbody>
      <tr>
        <th scope="row table-dark" >Punkte</th>
        <td >{{scoreViewModel.NumberOfCorrectAnswers}}/{{scoreViewModel.NumberOfQuestions}}</td>
      </tr>
      <tr>
        <th scope="row table-dark" >Bewertung</th>
        <td >{{ReturnProcentualResult()}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Question card 1 -->
  <div class="question-card" *ngFor="let question of questionEntities; let i = index">
      <div class="question-header">Frage {{i+1}} </div>
          <div class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Editieren</a></li>
                  <li><a class="dropdown-item" href="#">Löschen</a></li>
              </ul>
          </div>

      <p>{{ question.content }}</p>


      <ul class="options-list" *ngFor="let option of question.options">
          <li>
            <!--<mat-icon *ngIf="IsGivenAnswerCorrect(question)" fontIcon="check"></mat-icon>
            <mat-icon *ngIf="!IsGivenAnswerCorrect(question)" fontIcon="close"></mat-icon> -->
            <input type="radio" class="form-check-input" [checked]="GivenAnswerContainsOption(option.id)">{{option.text}}</li>
      </ul>

    <div *ngIf="IsGivenAnswerCorrect(question); else incorrectDiv" class="alert alert-success" role="alert">
      <mat-icon fontIcon="check"></mat-icon>
      Die Antwort ist richtig!
    </div>
    <ng-template #incorrectDiv>
      <div class="alert alert-danger" role="alert">
        <mat-icon *ngIf="!IsGivenAnswerCorrect(question)" fontIcon="close"></mat-icon>
        Die Antwort ist falsch!
      </div>
    </ng-template>


  </div>

  <button (click)="QuitReview()" type="button" class="ergebnis-button">Zurück zur Übersicht</button>


        </div>
      </div>
    </div>
  </div>
</div>
</div>
