<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="maincontainer">

  <mat-form-field class="quizauswahl">
    <mat-label>Quizauswählen</mat-label>
    <mat-select [(ngModel)]="selectedQuiz" (selectionChange)="OnSearchPredicateChanged()" >
      @for (quiz of quizes; track quiz) {
        <mat-option [value]="quiz" >{{quiz.titel}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <section class="generic-table-container">
    <div class="generic-table-inner-container">
      <table mat-table
             [dataSource]="entities.items"
             class="generic-table"
             matSort
             (matSortChange)="OnSortChange($event)">
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row
            *matRowDef="let rowData; columns: columns"
            [cdkContextMenuTriggerFor]="context_menu"
            [cdkContextMenuTriggerData]="{rowData}"></tr>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ '::Inhalt' | abpLocalization }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.content }} </td>
        </ng-container>

        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ '::Ordnungszahl' | abpLocalization }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.order }} </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell">No data available</td>
        </tr>

      </table>
    </div>
    <mat-paginator [length]="entities.totalCount"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons
                   (page)="OnPageChange($event)"></mat-paginator>
  </section>

  <ng-template #context_menu let-rowData="rowData">
    <div class="list-context-menu" cdkMenu>
      <div class="list-context-menu-header">{{ rowData.fullName }}</div>

      <button *ngFor="let availableContextAction of availableContextActions"
              class="list-context-menu-item"
              (click)="availableContextAction.callbackMethod(rowData)"
              cdkMenuItem>
        <i class="fa-solid fa-{{ availableContextAction.IconName }}"></i>
        {{ availableContextAction.caption }}
      </button>
    </div>
  </ng-template>

</div>
