

.flex-container {
    width: inherit; 
    display: flex;
    height: auto; 
    padding-top: 0; /* Anpassen, falls Header vorhanden */
}
.white-container {
    margin: 5rem auto;
    background-color: white;
    padding: 0rem;
    border-radius: 15px;
    width: auto; /* Anpassen für kleinere Bildschirme */
}

.Master-Logo {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 1rem; 
    position: relative; 
}

.Master-Logo::after {
    content: ''; 
    display: block; 
    height: 2px; 
    width: 100%; 
    background-color: white; 
    position: absolute; 
    bottom: 0; 
}

/* Styles für größere Bildschirme */
@media (min-width: 992px) {
    .menu-icon-sidebar {
        display:none !important; 
        justify-content: flex-start; /* Icon links ausrichten */
        top: 0;
        left: 0; /* Icon links positionieren */
        z-index: 1050;
    }

    .white-container {
        width: 1000px; /* Feste Breite für Desktop */
        display: flex; /* Flex-Layout für Desktop */
        padding: 0rem;
    }
    .sidebar {
        background-color: #343a40;
        padding: 1rem 0;
        width: 250px;
        flex-direction: column;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .content {
        flex-grow: 1;
        background-color: white;
        padding: 2rem;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .btn-close-custom {
        display: none;
    }

}


.sidebar {
    background-color: #343a40;
    padding: 1rem 0;
    width: 250px;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    background-color: white;
    padding: 2rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative; /* Relative Position für das Menu-Icon */
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles für mobile Ansicht */
@media (max-width: 768px) {
    .white-container {
        margin: 5rem auto;
        background-color: white;
        padding: 0rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: auto; /* Anpassen für kleinere Bildschirme */
    }

    .content {
        flex-grow: 1;
        background-color: white;
        padding: 2rem;
        border-radius: 15px;
    }
    .menu-icon-sidebar {
        display: inline;
        font-size: 2rem;
        justify-content: flex-start; /* Icon links ausrichten */
        top: 0;
        left: 0; /* Icon links positionieren */
        z-index: 1050;
    }

    .bi, .bi-list {
        display: inline-block !important; 
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250px;
        width: 250px;
        background-color: #343a40;
        overflow-y: auto;
        transition: left 0.3s;
        padding-top: 3.5rem; /* Platz für den Schließ-Button */
        z-index: 1000;
    }

    .menu-opened .sidebar {
        left: 0;
    }

    .btn-close-custom {
        display: none; /* Versteckt in der Desktop-Ansicht, wird später überschrieben */
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: white;
    }

    /* Anzeigen des Schließ-Buttons, wenn das Menü geöffnet ist */
    .menu-opened .btn-close-custom {
        display: block;
    }
}

@media (min-width: 768px) {
    .menu-icon-sidebar {
        display: none !important; /* Wichtig, um sicherzustellen, dass das Icon nicht angezeigt wird */
    }

    .btn-close-custom {
        display: none;
    }
    .sidebar {
        background-color: #343a40;
        padding: 1rem 0;
        width: 250px;
        flex-direction: column;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

}

/* Styles für Navigationselmente */ 

.nav-item {
    padding: 0.5rem 1rem;
}

.nav-link.active {
    border-radius: 0.25rem;
}

.nav-link-sidebar {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin: .2rem 0;
    border-radius: .25rem;
    color: #adb5bd; /* Nicht-aktiver Link-Farbton */
    transition: background-color .3s, color .3s;
}

.nav-link-sidebar:hover {
    background-color: #495057; /* Hover-Hintergrundfarbe */
    color: white;
    text-decoration: none;
}

.nav-link-sidebar.active {
    background-color: #F6F6F6; /* Aktive Link-Hintergrundfarbe */
    color: black;
    font-weight: bold;
}

.btn-activate-quiz {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin: .2rem 0;
    border-radius: .25rem;
    background-color: #BED263; /* Deaktivieren-Button-Hintergrund */
    color: white;
    transition: background-color .3s;
}

.btn-activate-quiz:hover {
    background-color: #BED263; /* Hover-Hintergrundfarbe für Deaktivieren-Button */
    color: white;
    text-decoration: none;
}

.btn-deactivate-quiz {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin: .2rem 0;
    border-radius: .25rem;
    background-color: black; /* Deaktivieren-Button-Hintergrund */
    color: white;
    transition: background-color .3s;
}

.btn-deactivate-quiz:hover {
    background-color: black; /* Hover-Hintergrundfarbe für Deaktivieren-Button */
    color: white;
    text-decoration: none;
}

/* Sidebar-Trennlinie nach Logo */
.Master-Logo::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #adb5bd; /* Farbe der Trennlinie */
    opacity: 0.3; /* Transparenz der Trennlinie */
    margin-top: .5rem;
}

/* Inhaltsbereich*/
.nav-link-sidebar i,
.btn-activate-quiz i {
    margin-right: .5rem;
}

.Inhalt  {
    
    margin: 0rem;  /* Gibt dem Container Abstand von der oberen Kante */
}

h2, h3 {
    margin-bottom: 2rem;  
}



.question-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    
justify-content: space-between;
align-items: center;
}

.dropdown {
position: absolute; 
top: 10px; /* Abstand von oben */
    right: 10px; /* Abstand von rechts */
}
/* Stil für die drei vertikalen Punkte */
.bi-three-dots{
font-size: 1.5rem; /* Größe des Icons */
}

.dropdown-toggle::after {
display: none; /* Versteckt den Standard-Pfeil von Bootstrap Dropdown */
}






/* Style for the question heading */
.question-header {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/* Style for the options list */
.options-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    pointer-events: none;
}

/* Style for each option item */
.options-list li {
    padding: 8px 8px;
    border-top: 1px solid #dee2e6;
}

/* Style for the radio button */
.form-check-input {
    margin-right: 10px;
}

/* Style for the 'Add question' button */
.add-question-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 20px auto;
}



/*Klasse für die als richtig gewählte Option */ 

.option-abled {
pointer-events: none; /* Verhindert Klickaktionen */
background-color: #e8f5e9; /* Leicht grüner Hintergrund */
padding: 10px; /* Etwas Abstand für die Optik */
}