<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="maincontainer">
  <div class="container-fluid mt-5">
    <div class="white-container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="welcome_quizmunity">
            <h1>Willkommen in der Onlinehilfe von Quizmunity!</h1>
            <p>Wir möchten dir eine umfassende Unterstützung bieten, damit du unsere Plattform effektiv nutzen und dein Lernerlebnis optimieren kannst. Im Benutzerhandbuch findest du Anleitungen, um das Beste aus der Quizplattform herauszuholen. </p>
          </div>
          <div class="search_quizmuniy">
            <h3>Lade unser detailliertes Benutzerhandbuch herunter! </h3>
            <p>Unser Benutzerhandbuch bietet dir Schritt-für-Schritt-Anleitungen und wertvolle Tipps zur Nutzung der Quizmunity-Plattform. Von der ersten Anmeldung über die Durchführung von Quizzes bis hin zur Erstellung eigener Fragen – alles, was du wissen musst, ist kompakt für dich zusammengefasst.</p>
          </div>

          <a href="https://iubhfs.sharepoint.com/sites/SW-Projekt/_layouts/15/embed.aspx?UniqueId=99250a53-7f79-43b3-a572-71a19c7f5193" type="submit" class="btn btn-primary quizmunity-button">Benutzerhandbuch Herunterladen</a>

        </div>
      </div>
    </div>
  </div>
</div>

<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
