<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="maincontainer">

        <div class="container-fluid">
          <div class="card">
            <div class="card-body" >
              <div class="quiz-container">
                  <div class="progress-container">
                      <div class="progress-bar"></div>
                  </div>
                  <div class="progress-text text-center">Frage 1 / 5</div>
                  <h3 class="question text-center">{{ actualQuestion.content }}?</h3>
                  <ul *ngFor="let option of actualQuestion.options" class="answers">
                      <li class="answer" (click)="EvaluateChoosenOption(option)" [ngClass]="IsChoosenOptionTrue ? 'true' : 'false'">{{ option.text }}</li>
                      <li class="answer selected">No, not at all <svg width="24" height="24" viewBox="0 0 24 24"></svg></li>
                  </ul>
                  <div class="button-container">
                      <button class="btn btn-primary left-button">Letzte Frage</button> <!-- Nicht sicher dass es zeitlich passt -->
                      <button class="btn btn-primary right-button" (click)="InitializeAndLoadNextQuestion()">Nächste Frage</button>
                  </div>
                  <div class="end-quiz-button-container">
                      <button class="btn btn-primary end-quiz-button">Quiz beenden</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Funktion, um auf Klick-Event für jede Antwort zu reagieren
    function answerClicked(event) {
        // Füge die ausgewählte Klasse zum geklickten Element hinzu oder entferne sie, wenn sie bereits ausgewählt war
        event.currentTarget.classList.toggle('answer-selected');
    }

    // Event-Listener für alle Antwort-Elemente
    document.querySelectorAll('.answer').forEach(function(answer) {
        answer.addEventListener('click', answerClicked);
    });
</script>
