<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="maincontainer">

    <div class="container-fluid">
        <div class="white-container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="welcome_quizmunity">
                        <h1>Werde Quizmaster bei Quizmunity</h1>
                        <p>Du hast Spaß am Erstellen von Quizfragen und möchtest aktiv an der Gestaltung unserer Quizplattform mitwirken? Hier ist deine Chance, ein Quizmaster zu werden und deine Leidenschaft mit der Community zu teilen! </p>
                    </div>
                    <div class="search_quizmuniy">
                        <h3>Wie werde ich Quizmaster?</h3>
                        <p>Fülle das untenstehende Formular aus, um dich als Quizmaster zu bewerben. Deine Angaben helfen uns, mehr über deine Interessen und deine Eignung für diese Rolle zu erfahren. Nachdem du dein Formular eingereicht hast, wird es von unserem Administrator geprüft. Wir achten darauf, dass alle zukünftigen Quizmaster die Qualität unserer Inhalte fördern können. </p>
                    </div>


                    <div class="d-flex justify-content-center"><textarea class="form-control w-75 d-flex justify-content-center mb-4" id="exampleFormControlTextarea1" rows="3"></textarea> </div>
                    <button type="submit" class="btn btn-primary quizmunity-button">Nachricht Absenden</button>




                </div>
            </div>

            <div class="container" *ngIf="comments != null" >
                <!-- Formular zum Hinzufügen neuer Fragen -->
                <div class="input-group">
                  <textarea [(ngModel)]="questionComment" id="new-question-content" placeholder="Kommentar hinzufügen"></textarea>
                </div>
                <button (click)="publish()" class="btn btn-primary" >Veröffentlichen</button>
                    <div id="question-container">
                    <!-- Hier werden die neuen Fragen eingefügt -->
                      <div *ngFor="let comment of comments">
                        <div>
                          <p class="fs-4">{{comment.content}} <button mat-raised-button color="warn" (click)="deleteComment(comment.id)" *ngIf="comment.userId == currentUserId">DELETE</button></p>

                        </div>

                      </div>


                    </div>
                </div>
            </div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Funktion, um auf Klick-Event für jede Antwort zu reagieren
    function answerClicked(event) {
        // Füge die ausgewählte Klasse zum geklickten Element hinzu oder entferne sie, wenn sie bereits ausgewählt war
        event.currentTarget.classList.toggle('answer-selected');
    }

    // Event-Listener für alle Antwort-Elemente
    document.querySelectorAll('.answer').forEach(function(answer) {
        answer.addEventListener('click', answerClicked);
    });
</script>



<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
