<div class="container">
  <div class="p-5 text-center login--div " *ngIf="!hasLoggedIn">
    <h1 class="q-color-dark">{{ '::Welcome' | abpLocalization }}</h1>

    <p class=" q-color-dark lead px-lg-5 mx-lg-5">{{ '::LongWelcomeMessage' | abpLocalization }}</p>

    <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ms-1 quizmunity-button" role="button" >
      <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'AbpAccount::Login' | abpLocalization }}
    </a>
  </div>
  <app-student-courses *abpPermission="'QuizSystem.Student'"></app-student-courses>
  <app-quizuebersicht *abpPermission="'QuizSystem.QuizMaster'"></app-quizuebersicht>
</div>
