.card {
    background-color: #ffffff !important;
}

::ng-deep .login--div
{
  font-size: 1.4rem;
  color: #3f3f3f !important;
}

h1, p
{
  color: #ffffff !important;
}

p
{
  font-size: 1.4rem !important;
}
